* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f6ff;
}

h2 {
  margin: 1.6rem;
}

.container {
  margin-top: 10rem;
  padding: 3.2rem;
}

.select-box {
  display: flex;
  width: 40rem;
  flex-direction: column;
}

.select-box .options-container {
  background-color: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 0.8rem;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #2f3640;
  border-radius: 0.8rem;
  margin-bottom: 0.8rem;
  position: relative;
  color: #f5f6fa;

  order: 0;
}

.select-box .options-container.active {
  max-height: 12rem;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container::-webkit-scrollbar {
  background: #0d141f;
  width: 0.8rem;
  border-radius: 0 0.8rem 0.8rem 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 0.8rem 0.8rem 0;
}

.select-box .option,
.selected {
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
